In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns  
df = pd.read_csv("C:\\Users\\acer\\Downloads\VideoGamesProject-main\\VideoGamesProject-main\\VideoGamesSales.csv")
df.shape[0] # number of rows 
df.shape[1] # number of columes
df = df[df.duplicated()]
df.shape[0]
df.shape[1]
df = df.drop_duplicates()
df.shape[0]
df.info()
df["Region"]=df["Region"].fillna("North")
df=df[df["Region"].isnull()]
df.shape[0]
df.head(100)
df.tail(100)

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 9 to 5888
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5 non-null      int64
 1   Name           5 non-null      object
 2   Platform       5 non-null      object
 3   Year           5 non-null      int64
 4   Month          5 non-null      object
 5   Genre          5 non-null      object
 6   Publisher      5 non-null      object
 7   Country        5 non-null      object
 8   City           5 non-null      object
 9   State          5 non-null      object
 10  Region         5 non-null      object
 11  NA_Sales       5 non-null      object
 12  Global_Sales   5 non-null      float64
 13  NA_Profit      5 non-null      float64
 14  Global_Profit  5 non-null      float64
dtypes: float64(3), int64(2), object(10)
memory usage: 640.0+ bytes

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Month, Genre, Publisher, Country, City, State, Region, NA_Sales, Global_Sales, NA_Profit, Global_Profit]
Index: []